In [ ]:
'''
Pandas库的数据类型操作

   数据类型：Series、DataFrame
   
   操    作：增加或重排 —— 重新索引
   
             .reindex()能够改变或重排Series和DataFrame索引
             .reindex(index = None, columns = None, **kwargs)  
             参数意义：
                 index、columns：新的行、列自定义索引
                 fill_value    ：重新索引中，用于填充缺失位置的值
                 method        ：填充方法，ffill当前值向前填充，bfill向后填充（向前填充指当前索引由前边邻近索引对应的值填充；向后填充指当前值由后边邻近的值填充）
                 limit         ：最大填充数
                 copy          ：默认为True，生成新的对象；False，则新旧值相等时不复制
               
             删      除 —— drop
             
             .drop()，其中参数axis默认为0，即对行索引进行操作；当对列索引进行操作时，需要指定axis = 1
             
   索引类型index为不可修改类型，其常见操作：
   
       方法                     说明
       .append(idx)             连接另一个index对象，产生新的index对象
       .diff(idx)               计算差集，产生新的index对象
       .intersection(idx)       计算交集
       .union(idx)              计算并集
       .delete(loc)             删除loc位置处的元素
       .insert(loc, e)          在loc位置处增加一个元素e
'''

In [1]:
import numpy as np
import pandas as pd

In [2]:
d = {'城市': ['北京', '上海', '广州', '深圳', '沈阳'],
    '同比': ['120.7', '127.3', '139.4', '140.9', '103.4'],
    '环比': ['101.5', '101.2', '101.3', '102.8', '100.1'],
    '定基': ['121.4', '127.8', '128.8', '145.5', '101.6']}
df = pd.DataFrame(d, index = ['c1', 'c2', 'c3', 'c4', 'c5'])
df

       同比  城市     定基     环比
c1  120.7  北京  121.4  101.5
c2  127.3  上海  127.8  101.2
c3  139.4  广州  128.8  101.3
c4  140.9  深圳  145.5  102.8
c5  103.4  沈阳  101.6  100.1

In [6]:
# 利用reindex调整行索引
df1 = df.reindex(index = ['c5', 'c4', 'c3', 'c2', 'c1'])
df1

       同比  城市     定基     环比
c5  103.4  沈阳  101.6  100.1
c4  140.9  深圳  145.5  102.8
c3  139.4  广州  128.8  101.3
c2  127.3  上海  127.8  101.2
c1  120.7  北京  121.4  101.5

In [10]:
# 利用reindex调整列索引
df2 = df.reindex(columns = ['城市', '同比', '环比', '定基'])
df2

    城市     同比     环比     定基
c1  北京  120.7  101.5  121.4
c2  上海  127.3  101.2  127.8
c3  广州  139.4  101.3  128.8
c4  深圳  140.9  102.8  145.5
c5  沈阳  103.4  100.1  101.6

In [16]:
# fill_value用法

new_d = df.columns.insert(4, '新增') # 在自动索引为4的位置利用insert增加一个列索引
new_df = df.reindex(columns = new_d, fill_value = 200) # fill_value填充值为200
new_df

       同比  城市     定基     环比   新增
c1  120.7  北京  121.4  101.5  200
c2  127.3  上海  127.8  101.2  200
c3  139.4  广州  128.8  101.3  200
c4  140.9  深圳  145.5  102.8  200
c5  103.4  沈阳  101.6  100.1  200

In [21]:
# delete,insert,method实例
# ffill向前填充是由邻近的“c1”索引对应的值进行填充

nc = df1.columns.delete(2)
ni = df1.index.insert(5, 'c0')

ndf1 = df1.reindex(index = ni, columns = nc, method = 'ffill')
ndf1

       同比  城市     环比
c5  103.4  沈阳  100.1
c4  140.9  深圳  102.8
c3  139.4  广州  101.3
c2  127.3  上海  101.2
c1  120.7  北京  101.5
c0  120.7  北京  101.5

In [23]:
# 删除指定索引对象

df3 = pd.DataFrame([9, 8, 7, 6], index = ['a', 'b', 'c', 'd'])
df3.drop(['b', 'c'])

   0
a  9
d  6