In [ ]:
'''
Pandas库的数据类型运算

 一、算术运算法则

   算术运算根据行列索引，在行列索引补齐后开始运算，运算默认产生浮点数。（不同索引之间不能进行运算）
   
   在行列索引补齐时，缺项采用NaN填充（即表示缺失值）
   
   不同维度进行运算时，采用广播运算。如：一维和二维、一维和零维（零维即标量值，此时该标量值与一维对象中每个值进行运算）
   
   采用加减乘除符号进行的二元运算（二元运算即两个Series或DataFrame对象间的运算）会产生新的对象
        方法                     说明
        .add(d, **kwargs)        类型间加法运算，可选参数
        .sub(d, **kwargs)        类型间减法运算，可选参数
        .mul(d, **kwargs)        类型间乘法运算，可选参数
        .div(d, **kwargs)        类型间除法运算，可选参数
  
 二、比较运算法则
     
   比较运算只能比较相同索引的元素，不进行补齐
   
   不同维度之间的比较运算采用广播运算，如：二维和一维、一维和零维
   
   采用>、<、>=、<=、==、!=等符号进行的二元运算产生布尔对象
'''

In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(np.arange(12).reshape(3,4)) # 3行4列
df1 = pd.DataFrame(np.arange(20).reshape(4,5)) # 4行5列
df2 = pd.Series(np.arange(4))
print(df, df1, df2, sep = '\n--------------------------------\n')

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11
--------------------------------
    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
--------------------------------
0    0
1    1
2    2
3    3
dtype: int32

In [4]:
# 二维对象间的运算
# 索引相同的进行运算，否则即返回NaN

print(df + df1, df * df1, sep = '\n----------------------\n')

      0     1     2     3   4
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN
----------------------
      0     1      2      3   4
0   0.0   1.0    4.0    9.0 NaN
1  20.0  30.0   42.0   56.0 NaN
2  80.0  99.0  120.0  143.0 NaN
3   NaN   NaN    NaN    NaN NaN

In [5]:
# 使用add()函数，通过参数fill_value将索引无法补齐的位置填充100进行计算

df.add(df1, fill_value = 100)

       0      1      2      3      4
0    0.0    2.0    4.0    6.0  104.0
1    9.0   11.0   13.0   15.0  109.0
2   18.0   20.0   22.0   24.0  114.0
3  115.0  116.0  117.0  118.0  119.0

In [6]:
# 使用mul()函数，通过参数fill_value将索引无法补齐的位置填充0进行运算

df.mul(df1, fill_value = 0)

      0     1      2      3    4
0   0.0   1.0    4.0    9.0  0.0
1  20.0  30.0   42.0   56.0  0.0
2  80.0  99.0  120.0  143.0  0.0
3   0.0   0.0    0.0    0.0  0.0

In [7]:
# 一维对象与标量值间的运算 —— 一维对象中每个值与标量值进行运算

df2 - 10

0   -10
1    -9
2    -8
3    -7
dtype: int32

In [8]:
# 一维与二维对象间的运算 —— 二维对象中每行的各个值与一维对象中各个值进行运算

df1 - df2

      0     1     2     3   4
0   0.0   0.0   0.0   0.0 NaN
1   5.0   5.0   5.0   5.0 NaN
2  10.0  10.0  10.0  10.0 NaN
3  15.0  15.0  15.0  15.0 NaN

In [9]:
# 默认根据axis = 1按行进行运算，通过使用函数可利用参数修改为按列进行运算

df1.sub(df2, axis = 0)

    0   1   2   3   4
0   0   1   2   3   4
1   4   5   6   7   8
2   8   9  10  11  12
3  12  13  14  15  16

In [10]:
# 注意：对于同维度运算要求不同对象的尺即维度一致（因为不进行补齐），否则将会报错

df3 = pd.DataFrame(np.arange(12).reshape(3,4)) # 3行4列，二维对象
df4 = pd.DataFrame(np.arange(12, 0, -1).reshape(3,4)) # 3行4列，二维对象
df5 = pd.Series(np.arange(4)) # 一维对象
print(df3, df4, df5, sep = '\n------------------------\n')

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11
------------------------
    0   1   2  3
0  12  11  10  9
1   8   7   6  5
2   4   3   2  1
------------------------
0    0
1    1
2    2
3    3
dtype: int32

In [11]:
df3 > df4

       0      1      2      3
0  False  False  False  False
1  False  False  False   True
2   True   True   True   True

In [12]:
df3 == df4

       0      1      2      3
0  False  False  False  False
1  False  False   True  False
2  False  False  False  False

In [13]:
df5 > 0

0    False
1     True
2     True
3     True
dtype: bool

In [14]:
# 不同维度之间比较类似于算术运算，即默认每行与一维对象进行比较

df3 > df5

       0      1      2      3
0  False  False  False  False
1   True   True   True   True
2   True   True   True   True