# 一、导入方法
将对应库导入后，通过as将其简写

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 二、对象创建

## 1、创建序列 — 使用Series函数
通过列表创建序列，并利用pandas生成默认整数索引

In [5]:
s = pd.Series([1,3,5,np.nan,6,8]) # np.nan用于生成空值NaN
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

## 2.1、创建数据框 — 使用DataFrame函数
通过numpy数组创建数据框，并包含日期索引和列标签

In [6]:
dates = pd.date_range('20170401', periods = 4) # 生成时间序列，起始日期20170401，间隔为4
print(dates)

# random.randn(4,4)表示生成6行，4列的随机数构成的数组
# index表示索引值
# columns表示列名
df = pd.DataFrame(np.random.randn(4,4), index = dates, columns = list('ABCD'))
df

DatetimeIndex(['2017-04-01', '2017-04-02', '2017-04-03', '2017-04-04'], dtype='datetime64[ns]', freq='D')

                   A         B         C         D
2017-04-01 -0.464299 -0.973471  0.021033 -1.318177
2017-04-02  2.387913 -0.932806  1.181602  0.339543
2017-04-03 -2.559460  2.133697 -1.978931 -1.374076
2017-04-04  0.678413 -0.183292  0.720143  1.476736

# 2.2、创建数据框 — 使用DataFrame函数
通过能够转换为类似序列的字典创建数据框

In [7]:
df2 = pd.DataFrame({
    'A':1., # 生成浮点数1.0
    'B':pd.Timestamp('20170408'), # 生成时间2017-04-08 00:00:00
    
    # 序列中数值为1，索引值由range(4)生成
    'C':pd.Series(1, index = list(range(4)), dtype = 'float32'),
    
    # 生成含有四个3的数组，且为整型
    'D':np.array([3] * 4, dtype = 'int32'),
    
    # 生成类别变量
    'E':pd.Categorical(['test', 'train', 'test', 'train']),
    
    # 生成字符串foo
    'F':'foo'
})
print(df2, df2.dtypes, sep = '\n ---------------- \n') # dtypes查看每一列指定的元素类型

     A          B    C  D      E    F
0  1.0 2017-04-08  1.0  3   test  foo
1  1.0 2017-04-08  1.0  3  train  foo
2  1.0 2017-04-08  1.0  3   test  foo
3  1.0 2017-04-08  1.0  3  train  foo
 ----------------
A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

# 三、查看数据

## 1、查看数据框的头部数据
使用head(n)函数查看数据框头部信息，参数n用于指定查看前几行数据  
若不指定参数n，则默认查看前五行数据

In [8]:
df.head(2)

                   A         B         C         D
2017-04-01 -0.464299 -0.973471  0.021033 -1.318177
2017-04-02  2.387913 -0.932806  1.181602  0.339543

# 2、查看数据框的尾部数据
使用tail(n)函数查看数据框尾部数据，参数n用于指定查看后几行数据  
若不指定参数n，则默认查看后五行数据

In [9]:
df.tail(2)

                   A         B         C         D
2017-04-03 -2.559460  2.133697 -1.978931 -1.374076
2017-04-04  0.678413 -0.183292  0.720143  1.476736

## 3、查看数据框的索引值

In [10]:
df.index

DatetimeIndex(['2017-04-01', '2017-04-02', '2017-04-03', '2017-04-04'], dtype='datetime64[ns]', freq='D')

## 4、查看数据框的列名

In [11]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

## 5、查看数据框的值

In [12]:
df.values

array([[-0.46429941, -0.97347116,  0.02103282, -1.31817732],
       [ 2.38791277, -0.93280577,  1.18160228,  0.33954255],
       [-2.55946004,  2.13369667, -1.97893088, -1.37407575],
       [ 0.67841293, -0.18329182,  0.72014336,  1.47673615]])

## 6、查看针对该数据框中数据特征的基本描述
基本描述包括：和、均值、标准差、最小值、25%分位数、50%分位数、75%分位数、最大值（按列计算）

In [13]:
df.describe()

              A         B         C         D
count  4.000000  4.000000  4.000000  4.000000
mean   0.010642  0.011032 -0.014038 -0.218994
std    2.075920  1.460998  1.394108  1.382013
min   -2.559460 -0.973471 -1.978931 -1.374076
25%   -0.988090 -0.942972 -0.478958 -1.332152
50%    0.107057 -0.558049  0.370588 -0.489317
75%    1.105788  0.395955  0.835508  0.623841
max    2.387913  2.133697  1.181602  1.476736

## 7、数据框转置

In [14]:
df.T

   2017-04-01  2017-04-02  2017-04-03  2017-04-04
A   -0.464299    2.387913   -2.559460    0.678413
B   -0.973471   -0.932806    2.133697   -0.183292
C    0.021033    1.181602   -1.978931    0.720143
D   -1.318177    0.339543   -1.374076    1.476736

## 8、根据指定轴axis排序
axis = 1表示按行（日期）排序，axis= 0表示按列（列名）排序  
ascending = True表示升序排列

In [15]:
df.sort_index(axis = 1, ascending = False)

                   D         C         B         A
2017-04-01 -1.318177  0.021033 -0.973471 -0.464299
2017-04-02  0.339543  1.181602 -0.932806  2.387913
2017-04-03 -1.374076 -1.978931  2.133697 -2.559460
2017-04-04  1.476736  0.720143 -0.183292  0.678413

## 9、根据给定值排序
指定列名进行排序（不能指定行名）

In [16]:
df.sort_values('B')

                   A         B         C         D
2017-04-01 -0.464299 -0.973471  0.021033 -1.318177
2017-04-02  2.387913 -0.932806  1.181602  0.339543
2017-04-04  0.678413 -0.183292  0.720143  1.476736
2017-04-03 -2.559460  2.133697 -1.978931 -1.374076

# 四、筛选数据

## 1、从数据框中筛选一列数据
等价于由函数Series()生成一个序列

In [17]:
df['A'] # 等价于df.A

2017-04-01   -0.464299
2017-04-02    2.387913
2017-04-03   -2.559460
2017-04-04    0.678413
Freq: D, Name: A, dtype: float64

## 2、利用方括号对行进行切片
切片方式有两种：根据索引值进行切片、根据行名进行切片

In [18]:
df[0:3] # 等价于df['20170401':'20170403']

                   A         B         C         D
2017-04-01 -0.464299 -0.973471  0.021033 -1.318177
2017-04-02  2.387913 -0.932806  1.181602  0.339543
2017-04-03 -2.559460  2.133697 -1.978931 -1.374076

## 3、按标签获取一个横截面数据
此处标签指按照日期列表中的值提取对应数据(可提取以一个日期的值即为横截面数据；多个日期即为面板数据)

In [19]:
df.loc[dates[0:]]

                   A         B         C         D
2017-04-01 -0.464299 -0.973471  0.021033 -1.318177
2017-04-02  2.387913 -0.932806  1.181602  0.339543
2017-04-03 -2.559460  2.133697 -1.978931 -1.374076
2017-04-04  0.678413 -0.183292  0.720143  1.476736

## 4、按日期选择多个轴

In [20]:
df.loc[:,['A','B']]

                   A         B
2017-04-01 -0.464299 -0.973471
2017-04-02  2.387913 -0.932806
2017-04-03 -2.559460  2.133697
2017-04-04  0.678413 -0.183292

## 5、显示切片标签，所有的终止值都包含在内

In [21]:
df.loc['20170401':'20170403',['A','B']]

                   A         B
2017-04-01 -0.464299 -0.973471
2017-04-02  2.387913 -0.932806
2017-04-03 -2.559460  2.133697

## 6、对以上返回对象进行降维

In [22]:
df.loc['20170402',['A','B']]

A    2.387913
B   -0.932806
Name: 2017-04-02 00:00:00, dtype: float64

## 7、获取一个标量值
逗号前边表示行名称（若选择多行，则以冒号隔开），逗号后边表示列名称（若选择多列，则以列表形式将多个列名包含在内）

In [23]:
df.loc[dates[0],'A']

-0.46429941163750754

## 8、快速获取标量值的方法（与上边获取标量值的方法等价）

In [24]:
df.at[dates[0],'A']

-0.46429941163750754

## 9、通过整数位置筛选数据
df.iloc与df筛选数据区别：前者可以通过单个整数值表示位置获取数据，如df.iloc[1]，而后者不可以

In [25]:
df.iloc[1]

A    2.387913
B   -0.932806
C    1.181602
D    0.339543
Name: 2017-04-02 00:00:00, dtype: float64

## 10、通过整数进行切片
逗号前边表示行，逗号后边表示列

In [26]:
df.iloc[1:3, 1:3]

                   B         C
2017-04-02 -0.932806  1.181602
2017-04-03  2.133697 -1.978931

## 11、通过整数位置列表切片

In [27]:
df.iloc[[1,2,3],[1,2]]

                   B         C
2017-04-02 -0.932806  1.181602
2017-04-03  2.133697 -1.978931
2017-04-04 -0.183292  0.720143

## 12、对行进行切片

In [28]:
df.iloc[1:3,:]

                   A         B         C         D
2017-04-02  2.387913 -0.932806  1.181602  0.339543
2017-04-03 -2.559460  2.133697 -1.978931 -1.374076

## 13、对列进行切片

In [29]:
df.iloc[:,1:3]

                   B         C
2017-04-01 -0.973471  0.021033
2017-04-02 -0.932806  1.181602
2017-04-03  2.133697 -1.978931
2017-04-04 -0.183292  0.720143

## 14、获取一个标量值

In [30]:
df.iloc[1,1]

-0.9328057672807003

## 15、快速获取一个标量值（与上边获取标量值的方法等价）

In [31]:
df.iat[1,1]

-0.9328057672807003

## 16、布尔类型索引
使用单列的值来筛选数据

In [32]:
df[df.A > 0] # df数据框中A列满足大于零对应的元素

                   A         B         C         D
2017-04-02  2.387913 -0.932806  1.181602  0.339543
2017-04-04  0.678413 -0.183292  0.720143  1.476736

## 17、利用条件判断对整个数据框进行筛选

In [33]:
df[df > 0] # 筛选数据框中大于零的元素，不符合条件的均表示为NaN

                   A         B         C         D
2017-04-01       NaN       NaN  0.021033       NaN
2017-04-02  2.387913       NaN  1.181602  0.339543
2017-04-03       NaN  2.133697       NaN       NaN
2017-04-04  0.678413       NaN  0.720143  1.476736

## 18、使用isin()方法来过滤,用于判断元素是否在其内

In [34]:
df3 = df.copy() # 赋值df数据框
df3['E'] = ['a', 'b', 'c', 'd']

# 首先判断元素b、c是否在df3数据框的E列，然后从数据框df3中筛选对应的元素
df3[df3['E'].isin(['b', 'c'])]

                   A         B         C         D  E
2017-04-02  2.387913 -0.932806  1.181602  0.339543  b
2017-04-03 -2.559460  2.133697 -1.978931 -1.374076  c

# 五、增加新列或设定新值

## 1、增加一个新的列使其自动按索引整齐排列

In [35]:
c = pd.Series([1,2,3,4], index = pd.date_range('20170402', periods = 4))

df['E'] = c # 增加新列并赋值为c，缺失值对应为NaN
df

                   A         B         C         D    E
2017-04-01 -0.464299 -0.973471  0.021033 -1.318177  NaN
2017-04-02  2.387913 -0.932806  1.181602  0.339543  1.0
2017-04-03 -2.559460  2.133697 -1.978931 -1.374076  2.0
2017-04-04  0.678413 -0.183292  0.720143  1.476736  3.0

## 2、按标签修改对应元素

In [36]:
df.at[dates[0], 'A'] = 0 # 设定20170401、A列对应元素为0
df

                   A         B         C         D    E
2017-04-01  0.000000 -0.973471  0.021033 -1.318177  NaN
2017-04-02  2.387913 -0.932806  1.181602  0.339543  1.0
2017-04-03 -2.559460  2.133697 -1.978931 -1.374076  2.0
2017-04-04  0.678413 -0.183292  0.720143  1.476736  3.0

## 3、按位置修改对应元素

In [37]:
df.iat[0, 1] = 0 # 修改行位置为0、列位置为1对应的元素为0
df

                   A         B         C         D    E
2017-04-01  0.000000  0.000000  0.021033 -1.318177  NaN
2017-04-02  2.387913 -0.932806  1.181602  0.339543  1.0
2017-04-03 -2.559460  2.133697 -1.978931 -1.374076  2.0
2017-04-04  0.678413 -0.183292  0.720143  1.476736  3.0

## 4、利用NumPy数组修改某列元素

In [38]:
df.loc[:, 'C'] = np.array([5] * len(df)) # 通过numpy数组修改某列元素
df

                   A         B  C         D    E
2017-04-01  0.000000  0.000000  5 -1.318177  NaN
2017-04-02  2.387913 -0.932806  5  0.339543  1.0
2017-04-03 -2.559460  2.133697  5 -1.374076  2.0
2017-04-04  0.678413 -0.183292  5  1.476736  3.0

## 5、利用NumPy数组修改某行元素

In [39]:
df.loc[dates[1], :] = np.array([5] * len(df.loc[dates[0], :]))
df

                   A         B  C         D    E
2017-04-01  0.000000  0.000000  5 -1.318177  NaN
2017-04-02  5.000000  5.000000  5  5.000000  5.0
2017-04-03 -2.559460  2.133697  5 -1.374076  2.0
2017-04-04  0.678413 -0.183292  5  1.476736  3.0

## 6、通过条件判断修改对应元素

In [40]:
df4 = df.copy()
df4[df4 > 0 ] = -df4 # 将数据框中正元素均修改为负元素
df4

                   A         B  C         D    E
2017-04-01  0.000000  0.000000 -5 -1.318177  NaN
2017-04-02 -5.000000 -5.000000 -5 -5.000000 -5.0
2017-04-03 -2.559460 -2.133697 -5 -1.374076 -2.0
2017-04-04 -0.678413 -0.183292 -5 -1.476736 -3.0

# 六、缺失值
pandas中使用np.nan代表缺失值，在计算中默认不包含该值。

## 1、reindex()函数可以改变、增加、删除指定轴上的索引，返回复制的数据

In [41]:
# 使用“+”连接符号，新增一列“F”(该列暂未赋值，相当于占位）
df1 = df.reindex(index = dates[0:4], columns = list(df.columns) + ['F'])

# 设定F列前两行元素为1
df1.loc[dates[0] : dates[1], 'F'] = 1 
df1

                   A         B  C         D    E    F
2017-04-01  0.000000  0.000000  5 -1.318177  NaN  1.0
2017-04-02  5.000000  5.000000  5  5.000000  5.0  1.0
2017-04-03 -2.559460  2.133697  5 -1.374076  2.0  NaN
2017-04-04  0.678413 -0.183292  5  1.476736  3.0  NaN

## 2、dropna()函数删除包含缺失值的行

In [42]:
df1.dropna(how = 'any')

              A    B  C    D    E    F
2017-04-02  5.0  5.0  5  5.0  5.0  1.0

## 3、fillna()函数填充数据框df1中的缺失值

In [43]:
df1.fillna(value = 5)

                   A         B  C         D    E    F
2017-04-01  0.000000  0.000000  5 -1.318177  5.0  1.0
2017-04-02  5.000000  5.000000  5  5.000000  5.0  1.0
2017-04-03 -2.559460  2.133697  5 -1.374076  2.0  5.0
2017-04-04  0.678413 -0.183292  5  1.476736  3.0  5.0

## 4、isnull()函数判断数据框中元素是否为缺失值，若是缺失值，则返回True

In [44]:
pd.isnull(df1)

                A      B      C      D      E      F
2017-04-01  False  False  False  False   True  False
2017-04-02  False  False  False  False  False  False
2017-04-03  False  False  False  False  False   True
2017-04-04  False  False  False  False  False   True

# 七、运算
运算过程不能包含缺失值

## 1、mean()计算均值
若不指定任何参数，则计算每列均值，即默认axis = 0按列计算；若设置axis = 1，则按行计算

In [45]:
df.mean()

A    0.779738
B    1.737601
C    5.000000
D    0.946121
E    3.333333
dtype: float64

## 2、计算有不同维度的的对象且整齐排列，另外pandas自动按指定维度生成
shift(periods = 1, freq = None, axis = 0)，该函数主要是对数据进行移动的操作  
periods表示移动幅度，移动之后即为NaN，可为正数或负数，默认为1表示移动一次，此处一定的均为数据，而不是索引（正数则从开头开始移动，负数则从末尾开始移动）

In [46]:
s = pd.Series([1, 3, 5, np.nan], index = dates).shift(2) # 表示移动两次
s

# sub()函数则进行减法，即将原数据框与指定序列对应维度进行减法
df.sub(s, axis = 0)

                   A         B    C         D    E
2017-04-01       NaN       NaN  NaN       NaN  NaN
2017-04-02       NaN       NaN  NaN       NaN  NaN
2017-04-03 -3.559460  1.133697  4.0 -2.374076  1.0
2017-04-04 -2.321587 -3.183292  2.0 -1.523264  0.0

## 3、应用函数到数据上

In [47]:
# np.cumsum()函数用于求解累计和，默认为axis = 0，按列计算
df.apply(np.cumsum) # 等价于np.cumsum(df, axis = 1)

                   A         B   C         D     E
2017-04-01  0.000000  0.000000   5 -1.318177   NaN
2017-04-02  5.000000  5.000000  10  3.681823   5.0
2017-04-03  2.440540  7.133697  15  2.307747   7.0
2017-04-04  3.118953  6.950405  20  3.784483  10.0

In [48]:
# apply()默认axis = 0按列计算，使用lambda函树
df.apply(lambda x: x.max() - x.min(), axis = 1)

2017-04-01    6.318177
2017-04-02    0.000000
2017-04-03    7.559460
2017-04-04    5.183292
Freq: D, dtype: float64

## 4、数据直方图形式

In [49]:
s = pd.Series(np.random.randint(0, 7, size = 10)) # 生成0-7共10个随机整数,pandas自动生成索引序列
s

# 计算每个值出现的次数，类似直方图统计每个数据出现的次数
s.value_counts()

5    3
6    2
3    2
0    2
4    1
dtype: int64

## 5、Series配备了一组字符串属性中的字符串处理方法，从而能够更容易的操作数组中每个元素

In [50]:
s1 = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

# 将s1中大写的字母全部转换为小写
s1.str.lower() # 可通过dir(str)查看其中包含的方法

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

# 八、连接、合并、新增数据

## 1、使用concat()连接pandas对象，默认参数axis = 0即按行合并；若axis = 1，则按列合并

In [51]:
df5 = pd.DataFrame(np.random.randn(10, 4)) # 随机生成服从标准正态分布的10行4列的随机数
df5

# 将df5分割成片
pieces = [df5[:3], df5[3:7], df5[7:]] # 分割为三块，索引0-2为第一块，索引3-6为第二块，索引7-9为第三块

pd.concat(pieces) # 连接pandas对象

          0         1         2         3
0  1.157481 -0.097410  0.990503  0.389877
1 -0.909298 -0.246054  0.585363 -0.836994
2 -1.136263 -0.547167 -2.728666 -0.068452
3 -0.872457  1.024233  1.376337 -1.452286
4  2.739121 -0.396461  1.607936  1.364038
5  0.152828  0.078317  1.210414 -0.166183
6  0.558794  0.998513 -0.340468 -0.519734
7 -0.616339  0.068230  0.930367 -0.034386
8  1.067809 -0.955234  0.959405  0.512867
9 -1.229366 -1.756180 -0.817434 -1.395259

## 2、merge(left, right, how = 'inner', on = None)函数——SQL风格的合并方式
left、right表示数据框  
how表示如何合并，how = left/right则表示只按left/right数据框中key合并；how = 'outer'表示将数据框中所有key都合并；若how = 'inner'表示按数据框共有的key合并  
on表示两个数据框共有的key，使用该key进行合并

In [52]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

pd.merge(left, right, how = 'left')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [53]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

pd.merge(left, right, on = 'key')

   key  lval  rval
0  foo     1     4
1  bar     2     5

## 3、append(other, ingnore_index = False, verify_integrity = False)，在数据框中添加一行，使用该函数添加的行位于数据框末尾
other：用于增加的数据，数据框、Series、字典型或列表  
ignore_index：忽视指定的索引，默认为False，即使用指定索引值（如本例中增加原数据框索引为4的行元素，则增加的数据索引值也为4）；若为True，则不使用该索引  
verify_integrity：判断索引值是否重复，默认为False，则不判断；若为True，则判断是否重复，重复则返回ValueError,提示索引重复

In [54]:
df6 = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])

s = df6.iloc[4] # 定位索引为4的行

df6.append(s, ignore_index = True, verify_integrity = True)

          A         B         C         D
0  0.609039  0.029841 -0.350751  0.058455
1  1.119764 -2.461095  1.224966  0.111922
2  3.378867  0.546681 -0.617884  0.052048
3  0.297584 -0.118935 -0.237828  0.224105
4 -0.196963 -1.167168  0.331251  1.856457
5 -1.455264  1.522172 -0.460070 -0.409410
6 -0.523662 -0.962495 -0.049505  1.275552
7  0.309002  0.710602  0.191971  1.757592
8 -0.196963 -1.167168  0.331251  1.856457

# 九、分组grouping
按照一些标准将数据分到不同的组  
在每一组上独立地运用函树  
将结果汇总为一个数据结构

In [55]:
# 创建数据框

df5 = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
                   'B': ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
                   'C': np.random.randn(8),
                   'D': np.random.randn(8)})
df5

     A      B         C         D
0  foo    one -0.379039 -0.121492
1  bar    one -1.449576 -0.118232
2  foo    two  0.698372  0.238970
3  bar  three  0.931935 -0.450958
4  foo    two -0.084816 -1.179031
5  bar    two  0.925427  0.223028
6  foo    one  0.239610  0.766463
7  foo  three  0.945955  0.726073

## 1、先分组，然后在每一组上运用函树

In [56]:
df5.groupby('A').sum() # 按A列分为两组foo、bar，计算C、D两列对应的和

            C         D
A
bar  0.407786 -0.346161
foo  1.420081  0.430983

## 2、按多列分组形成分层索引，然后分别运用函数

In [57]:
df5.groupby(['A', 'B']).sum() # 按A列分为两组，按B列在每组中分为三层，计算C、D列对应的和

                  C         D
A   B
bar one   -1.449576 -0.118232
    three  0.931935 -0.450958
    two    0.925427  0.223028
foo one   -0.139429  0.644971
    three  0.945955  0.726073
    two    0.613555 -0.940061