In [ ]:
'''
DataFrame类型

   DataFrame类型是由共用相同索引的多列数据组成。
   
   DataFrame类型是一个表格型数据类型，每列值类型可以不同。
   
   DataFrame类型既有行索引，又有列索引
   
   DataFrame类型常用于表达二维数据，但也可以表达多维数据。
   
   DataFrame对象中每一类为一个Series对象
                                                columns(axis = 1)
                                     
                          index_0   
                          index_1
       index(axis = 0)    index_2
                          index_3
                          index_4
   
   DataFrame类型的创建：
       
       二维ndarray对象
       由一维ndarray、列表、字典、元组或Series构成的字典
       Series类型
       其他DataFrame类型
'''

In [ ]:
'''
DataFrame类型的创建
'''

In [1]:
import pandas as pd
import numpy as np

In [4]:
# 利用二维ndarray对象创建

df = pd.DataFrame(np.arange(10).reshape(2,5)) # 生成2行5列的ndarray数组，然后转换为DataFrame类型
df # 横向、纵向均自动生成索引

   0  1  2  3  4
0  0  1  2  3  4
1  5  6  7  8  9

In [7]:
# 利用一维ndarray对象字典创建
# 字典中的键自动成为DataFrame类型的列索引，将最长的索引作为行索引，缺失值（如“one”中没有索引“d”）以NaN表示

dt = {'one': pd.Series([1, 2, 3], index = ['a', 'b', 'c']),
     'two': pd.Series([9, 8, 7, 6], index = ['a', 'b', 'c', 'd'])}

df1 =pd.DataFrame(dt)
df1

   one  two
a  1.0    9
b  2.0    8
c  3.0    7
d  NaN    6

In [8]:
# index和columns来指定DataFrame类型的行、列索引

df2 = pd.DataFrame(dt, index = ['b', 'c', 'd'], columns = ['two', 'three'])
df2

   two three
b    8   NaN
c    7   NaN
d    6   NaN

In [9]:
# 利用列表类型的字典创建

dl = {'one': [1, 2, 3, 4], 'two': [9, 8, 7, 6]}
df3 = pd.DataFrame(dl, index = ['a', 'b', 'c', 'd'])
df3

   one  two
a    1    9
b    2    8
c    3    7
d    4    6

In [17]:
# 表单案例

d = {'城市': ['北京', '上海', '广州', '深圳', '沈阳'],
    '环比': ['101.5', '101.2', '101.3', '102.0', '100.1'],
    '同比': ['120.7', '127.3', '119.4', '140.9', '101.4'],
    '定基': ['121.4', '127.8', '128.0', '145.5', '101.6']}
df4 = pd.DataFrame(d, index = ['c1', 'c2', 'c3', 'c4', 'c5'])
df4

       同比  城市     定基     环比
c1  120.7  北京  121.4  101.5
c2  127.3  上海  127.8  101.2
c3  119.4  广州  128.0  101.3
c4  140.9  深圳  145.5  102.0
c5  101.4  沈阳  101.6  100.1

In [19]:
# 查看DataFrame类型的index、columns和values

print(df4.index, df4.columns, df4.values, sep = '\n---------------\n')

Index(['c1', 'c2', 'c3', 'c4', 'c5'], dtype='object')
---------------
Index(['同比', '城市', '定基', '环比'], dtype='object')
---------------
[['120.7' '北京' '121.4' '101.5']
 ['127.3' '上海' '127.8' '101.2']
 ['119.4' '广州' '128.0' '101.3']
 ['140.9' '深圳' '145.5' '102.0']
 ['101.4' '沈阳' '101.6' '100.1']]

In [ ]:
'''
查找DataFrame对象中的值
'''

In [23]:
# 查找DataFrame对象中的值
# 由于DataFrame对象列为Series对象，故可通过Series查找值的方式查找对应值
# 查找某行元素，则可通过“.ix[]”来查找

print(df4['同比'], df4.ix['c2'], df4['同比']['c2'], sep = '\n-------------\n')

c1    120.7
c2    127.3
c3    119.4
c4    140.9
c5    101.4
Name: 同比, dtype: object
-------------
同比    127.3
城市       上海
定基    127.8
环比    101.2
Name: c2, dtype: object
-------------
127.3