In [ ]:
'''
Pandas库的数据排序

   1、在指定轴根据索引进行排序，默认为升序
   
      .sort_index(axis = 0, ascending = True)
      
      参数意义：
          
          axis：表示轴，axis = 0对应index，axis = 1对应columns
          ascending：表示排序方式，默认为True，即为升序；若为False，则为降序
   
   2、在指定轴根据数值进行排序，默认为升序
   
      <Series对象>.sort_values(axis = 0, ascending = True)
      <DataFrame对象>.sort_values(by, axis = 0, ascending = True)
      
      参数意义：
      
          by：表示axis轴上的某个索引或索引列表
          其余参数意义同上
   
   3、针对空值，在使用".sort_values()"排序中所有NaN空值均排在末尾位置
'''

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.arange(20).reshape(4,5), index = ['c', 'a', 'd', 'b'])
df

    0   1   2   3   4
c   0   1   2   3   4
a   5   6   7   8   9
d  10  11  12  13  14
b  15  16  17  18  19

In [3]:
# 默认为axis = 0（索引）且为升序,即与原DataFrame对象相同

df.sort_index()

    0   1   2   3   4
a   5   6   7   8   9
b  15  16  17  18  19
c   0   1   2   3   4
d  10  11  12  13  14

In [4]:
# 默认在axis = 0轴且修改为降序排列（按照字母表顺序）

df.sort_index(ascending = False)

    0   1   2   3   4
d  10  11  12  13  14
c   0   1   2   3   4
b  15  16  17  18  19
a   5   6   7   8   9

In [5]:
# 修改参数在axis = 1轴且为降序排列

df.sort_index(axis = 1, ascending = False)

    4   3   2   1   0
c   4   3   2   1   0
a   9   8   7   6   5
d  14  13  12  11  10
b  19  18  17  16  15

In [7]:
df.sort_values(2, ascending = False)

    0   1   2   3   4
b  15  16  17  18  19
d  10  11  12  13  14
a   5   6   7   8   9
c   0   1   2   3   4

In [12]:
df.sort_values('a', axis = 1, ascending = False)

    4   3   2   1   0
c   4   3   2   1   0
a   9   8   7   6   5
d  14  13  12  11  10
b  19  18  17  16  15

In [14]:
df1 = pd.DataFrame(np.arange(12).reshape(3,4), index = ['a', 'b', 'c'])
df1

   0  1   2   3
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

In [16]:
df2 = df + df1
df2

      0     1     2     3   4
a   5.0   7.0   9.0  11.0 NaN
b  19.0  21.0  23.0  25.0 NaN
c   8.0  10.0  12.0  14.0 NaN
d   NaN   NaN   NaN   NaN NaN

In [17]:
df2.sort_index(ascending = False)

      0     1     2     3   4
d   NaN   NaN   NaN   NaN NaN
c   8.0  10.0  12.0  14.0 NaN
b  19.0  21.0  23.0  25.0 NaN
a   5.0   7.0   9.0  11.0 NaN

In [18]:
df2.sort_index(axis = 1, ascending = False)

    4     3     2     1     0
a NaN  11.0   9.0   7.0   5.0
b NaN  25.0  23.0  21.0  19.0
c NaN  14.0  12.0  10.0   8.0
d NaN   NaN   NaN   NaN   NaN

In [19]:
df2.sort_values(2, ascending = False)

      0     1     2     3   4
b  19.0  21.0  23.0  25.0 NaN
c   8.0  10.0  12.0  14.0 NaN
a   5.0   7.0   9.0  11.0 NaN
d   NaN   NaN   NaN   NaN NaN

In [21]:
df2.sort_values('a', axis = 1, ascending = False)

      3     2     1     0   4
a  11.0   9.0   7.0   5.0 NaN
b  25.0  23.0  21.0  19.0 NaN
c  14.0  12.0  10.0   8.0 NaN
d   NaN   NaN   NaN   NaN NaN