In [ ]:
'''
基本统计分析

   适用于Series和DataFrame类型的常用函数（默认按axis = 0计算)
   
       函数                          说明
       .sum()                        计算数据的总和，
       .count()                      非NaN值的数量
       .mean()、.median()            计算数据的算术平均值和中位数
       .var()、.std()                计算数据的方差和标准差
       .min()、.max()                计算数据逇最小值和最大值
       .describle()                  针对各列的统计汇总
       
   仅适用于Series类型的函数
   
       函数                          说明
       .argmax()、.argmin()          计算数据最大值、最小值所在位置的索引位置（即自动索引）
       .idxmax()、.idxmin()          计算数据最大值、最小值所在位置的索引（即自定义索引）
'''

In [20]:
import numpy as np
import pandas as pd

In [17]:
df = pd.Series([9, 8, 7, 6], index = ['a', 'b', 'c', 'd'])
df

a    9
b    8
c    7
d    6
dtype: int64

In [18]:
des = df.describe()
des

count    4.000000
mean     7.500000
std      1.290994
min      6.000000
25%      6.750000
50%      7.500000
75%      8.250000
max      9.000000
dtype: float64

In [16]:
# 可通过具体标签来提取对应的值
des['count']

4.0

In [21]:
df1 = pd.DataFrame(np.arange(20).reshape(4,5), index = ['a', 'b', 'c', 'd'])
df1

    0   1   2   3   4
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19

In [23]:
des1 = df1.describe() # 该对象不能切片
des1

               0          1          2          3          4
count   4.000000   4.000000   4.000000   4.000000   4.000000
mean    7.500000   8.500000   9.500000  10.500000  11.500000
std     6.454972   6.454972   6.454972   6.454972   6.454972
min     0.000000   1.000000   2.000000   3.000000   4.000000
25%     3.750000   4.750000   5.750000   6.750000   7.750000
50%     7.500000   8.500000   9.500000  10.500000  11.500000
75%    11.250000  12.250000  13.250000  14.250000  15.250000
max    15.000000  16.000000  17.000000  18.000000  19.000000

In [27]:
# 使用“.ix[]”返回指定数据
des1.ix['count']

0    4.0
1    4.0
2    4.0
3    4.0
4    4.0
Name: count, dtype: float64

In [28]:
# 获取某一列数据，直接使用方括号即可
des1[2]

count     4.000000
mean      9.500000
std       6.454972
min       2.000000
25%       5.750000
50%       9.500000
75%      13.250000
max      17.000000
Name: 2, dtype: float64